// 70s colors
$color-70s-primary: #FEA49F;      // dominant color
$color-70s-secondary: #101357;    // secondary color
$color-70s-accent1: #FBAF08;      // accent (highlights), can have multiple
$color-70s-accent2: #00A0A0;      // accent (highlights), can have multiple
$color-70s-accent3: #007F4F;      // accent (highlights), can have multiple
