// 70s colors
$primary-70s: #FEA49F;      // dominant color
$secondary-70s: #101357;    // secondary color
$accent-70s1: #FBAF08;      // accent (highlights), can have multiple
$accent-70s2: #00A0A0;      // accent (highlights), can have multiple
$accent-70s3: #007F4F;      // accent (highlights), can have multiple
