// charity colors
$color-charity-primary: #1561AD;      // dominant color
$color-charity-secondary: #1C77AC;    // secondary color
$color-charity-accent1: #1DBAB4;      // accent (highlights), can have multiple
$color-charity-accent2: #FC5226;      // accent (highlights), can have multiple
