// default colors
$color-primary: #361999;      // dominant color
$color-secondary: #78fff1;    // secondary color
$color-accent: #FF6495;       // accent (highlights), can have multiple

$color-error: #ff0033;          // error color - usually red
$color-confirm: #039487;        // approval color - usually green

$color-black: #000;           // black
$color-mono1: #a5a7bd;        // darker monochrome
$color-mono2: #f3f5fa;        // lighter monochrome
$color-white: #fff;           // white


:export {
    color-primary: $color-primary;
    color-secondary: $color-secondary;
    color-accent: $color-accent;
    color-error: $color-error;
    color-confirm: $color-confirm;

    color-black: $color-black;
    color-mono1: $color-mono1;
    color-mono2: $color-mono2;
    color-white: $color-white;
}