// default colors
$primary: #361999;      // dominant color
$secondary: #78fff1;    // secondary color
$accent: #FF6495;       // accent (highlights), can have multiple

$error: #ff0033;          // error color - usually red
$confirm: #039487;        // approval color - usually green

$black: #000;           // black
$mono1: #a5a7bd;        // darker monochrome
$mono2: #f3f5fa;        // lighter monochrome
$white: #fff;           // white
