// futurelite colors
$color-futurelite-primary: #BCCBDE;       // dominant color
$color-futurelite-secondary: #C2DDE6;     // secondary color
$color-futurelite-accent1: #431C5D;       // accent (highlights), can have multiple
$color-futurelite-accent2: #E05915;       // accent (highlights), can have multiple
$color-futurelite-accent3: #CDD422;       // accent (highlights), can have multiple
