// infrared colors
$color-infrared-primary: #DE354C;     // dominant color
$color-infrared-secondary: #932432;   // secondary color
$color-infrared-accent1: #3C1874;     // accent (highlights), can have multiple
$color-infrared-accent2: #2B3747;     // accent (highlights), can have multiple
