// modern colors
$primary-modern: #1D1145;       // dominant color
$secondary-modern: #0DB4B9;     // secondary color
$accent-modern1: #F2A1A1;       // accent (highlights), can have multiple
$accent-modern2: #E76D89;       // accent (highlights), can have multiple

// mono
$mono-modern1: #e7e4e9;
$mono-modern2: #f0edf1;