// modern colors
$color-modern-primary: #1D1145;       // dominant color
$color-modern-secondary: #0DB4B9;     // secondary color
$color-modern-accent1: #F2A1A1;       // accent (highlights), can have multiple
$color-modern-accent2: #E76D89;       // accent (highlights), can have multiple

// mono
$color-modern-mono1: #e7e4e9;
$color-modern-mono2: #f0edf1;