// pearl colors
$color-pearl-primary: #A3BCB6;    // dominant color
$color-pearl-secondary: #39603D;  // secondary color
$color-pearl-accent1: #3C403D;    // accent (highlights), can have multiple
$color-pearl-accent2: #DADED4;    // accent (highlights), can have multiple
