// rosegold colors
$color-rosegold-primary: #202020;     // dominant color
$color-rosegold-secondary: #FFDF6C;   // secondary color
$color-rosegold-accent: #707070;      // accent (highlights), can have multiple
