// charity colors
$primary-charity: #1561AD;      // dominant color
$secondary-charity: #1C77AC;    // secondary color
$accent-charity1: #1DBAB4;      // accent (highlights), can have multiple
$accent-charity2: #FC5226;      // accent (highlights), can have multiple
