// default colors
$primary: #361999;      // dominant color
$secondary: #78fff1;    // secondary color
$accent: #FF6495;       // accent (highlights), can have multiple

$red: #ff0033;          // error red
$green: #039487;        // approval greem

$black: #000;           // black
$mono1: #a5a7bd;        // darker monochrome
$mono2: #f3f5fa;        // lighter monochrome
$white: #fff;           // white
