// futurelite colors
$primary-futurelite: #BCCBDE;       // dominant color
$secondary-futurelite: #C2DDE6;     // secondary color
$accent-futurelite1: #431C5D;       // accent (highlights), can have multiple
$accent-futurelite2: #E05915;       // accent (highlights), can have multiple
$accent-futurelite3: #CDD422;       // accent (highlights), can have multiple
