// infrared colors
$primary-infrared: #DE354C;     // dominant color
$secondary-infrared: #932432;   // secondary color
$accent-infrared1: #3C1874;     // accent (highlights), can have multiple
$accent-infrared2: #2B3747;     // accent (highlights), can have multiple
