// pearl colors
$primary-pearl: #A3BCB6;    // dominant color
$secondary-pearl: #39603D;  // secondary color
$accent-pearl1: #3C403D;    // accent (highlights), can have multiple
$accent-pearl2: #DADED4;    // accent (highlights), can have multiple
