// site-wide styles here
html {
    font-family: Montserrat;
}

body {    
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

// fonts
@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"), url("./assets/fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
