// interactivity
.t--unselectable {
    user-select: none;
}

// simple styling
.t--default {
    color: inherit;
    text-decoration: none;
}
.t--bold {
    font-weight: bold;
}
.t--italic {
    font-style: italic;
}

// cases
.t--capitalize {
    text-transform: capitalize;
}
.t--uppercase {
    text-transform: uppercase;
}
.t--lowercase {
    text-transform: lowercase;
}